
main{

  height: 700px;
  
  .conteiner.cards{
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .conteiner-card{
    width: 400px;
    margin: 10px;
    position: relative;
  }
}